@use 'variables';

// @mixin heading ($color: blue, $border-radius: false) {
//     text-transform: uppercase;
//     font-size: 2.4rem;
//     color: $color;
//     letter-spacing: 1px; //Separación entre letras 
//     background-color: black;

//     @if $border-radius {
//         border-radius: 1rem;
//     }
// }

@mixin telefono {
    @media (min-width: variables.$telefono) {
        @content; //Sirve para que se agreguen automáticamente las variables en el header
    }
}

@mixin tablet {
    @media (min-width: variables.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: variables.$desktop) {
        @content;
    }
}

@mixin desktopXL {
    @media (min-width: variables.$desktopXL) {
        @content;
    }
}

@mixin grid($columnas, $espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}

@mixin resetear-lista {
    margin: 0;
    padding: 0;
    list-style: none; //Para quitarle las viñetas a las listas
}